body
{
    background: #9b59b6;
    position: relative;
}

.additional
{
    margin: 5px -10px;
    width: 30px;
    height: 30px;
}
.heading 
{
    color: #2c3e50;
    font-size: 2.0em;
    text-transform: uppercase;
}
.center
{
    margin: 10 auto;
    margin-top: 30px;
}
.fab-color
{
    
    margin: 5px -10px;
    background-color: #F16A43;
}
.image 
{
    width: 60px;
    height: 60px;
    margin: 10px auto;
    border-radius: 50%;
}
.row
{
    margin: 10px;
}
.loader
{
    z-index: 20002;
    position: fixed;
    top: 50vh ;
    left : 50vw ;
    margin: 0 auto;
}